<section class="main-block">
  <div class="content">
    <div class="rectangle">
      <img class="logo" src="assets/logo.svg" alt="Money Factory" />
      <h1 class="h1">Digital Marketing Revolution</h1>
      <h2 class="h2">COMING SOON</h2>
    </div>
    <div class="social-buttons">
      <a class="m-btn viber" href="">
        <img class="icon" src="assets/viber.svg" alt="" />
      </a>
      <a class="m-btn telegram" href="">
        <img class="icon" src="assets/telegram.svg" alt="" />
      </a>
      <div class="dots-line">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <a href="" class="s-btn facebook">
        <img class="icon" src="assets/facebook.svg" alt="" />
      </a>
      <a href="" class="s-btn instagram">
        <img class="icon" src="assets/instagram.svg" alt="" />
      </a>
    </div>
  </div>
  <app-circle-cloud [el]="'.main-block'"></app-circle-cloud>
</section>
